.nav-tabs
    white-space nowrap !important
    min-width: 440px
    a
        color #17a2b8 !important
        &.active
            color #666  !important

table
    th
        border-top-width: 0 !important