<div class="container my-5">
    <h4 style='line-height: 2rem !important;' class="mb-5 ml-2">
        Hello {{user.email | slice: 0: user.email.indexOf('@')}}, <br> here are your saved lists:
    </h4>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Plan to watch</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Watching</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Completed</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#dropped" role="tab" aria-controls="dropped" aria-selected="false">Dropped</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <app-list-table [list]='lists.planToWatch'></app-list-table>

        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <app-list-table [list]='lists.watching'></app-list-table>

        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

            <app-list-table [list]='lists.completed'></app-list-table>

        </div>

        <div class="tab-pane fade" id="dropped" role="tabpanel" aria-labelledby="nav-contact-tab">

            <app-list-table [list]='lists.dropped'></app-list-table>

        </div>
    </div>
</div>